<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.HttpAes256Key16" version="1.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>HttpAes256Key16</name>
  <keywords>cordova,mjtest,cordova-ios,cordova-android</keywords>
  <repo>https://github.com/13546777510/HttpAes256Key16.git</repo>
  <issue>https://github.com/13546777510/HttpAes256Key16/issues</issue>
  <js-module name="HttpAes256Key16" src="www/HttpAes256Key16.js">
    <clobbers target="cordova.plugins.HttpAes256Key16" />
  </js-module>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="HttpAes256Key16">
        <param name="android-package" value="cordova.plugin.HttpAes256Key16.HttpAes256Key16" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml" />
    <source-file src="src/android/HttpAes256Key16.java" target-dir="src/cordova/plugin/HttpAes256Key16/HttpAes256Key16" />
  </platform>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="HttpAes256Key16">
        <param name="ios-package" value="HttpAes256Key16" />
      </feature>
    </config-file>
    <source-file src="src/ios/HttpAes256Key16.m" />
  </platform>
</plugin>
